Fiscalization/Fiscalization.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://si.feri.soa/Fiscalization/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Fiscalization"
	targetNamespace="http://si.feri.soa/Fiscalization/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://si.feri.soa/Fiscalization/">
			<!-- Registration Request/Response -->
			<xsd:element name="Registration">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="VAT" type="tns:VATType" />
						<xsd:element name="Address" type="tns:AddressType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="RegistrationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ContainKey" type="tns:NumberType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Invoice Verification -->
			<xsd:element name="InvoiceVerificationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="VAT" type="tns:VATType"/>
						<xsd:element name="ContainKey" type="tns:NumberType"/>
						<xsd:element name="DateOfIssue" type="xsd:dateTime"/>
						<xsd:element name="Invoice" type="tns:InvoiceType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="InvoiceVerificationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EOR" type="tns:GUIDType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Obtain Invoice Data -->
			<xsd:element name="DataRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="VAT" type="tns:VATType"/>
						<xsd:element name="ContainKey" type="tns:NumberType"/>
						<xsd:element name="DateFrom" type="xsd:dateTime"/>
						<xsd:element name="DateTo" type="xsd:dateTime"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Invoices">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Invoice" type="tns:InvoiceType" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<!-- TYPES -->
			<xsd:simpleType name="VATType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="SI[0-9]{8}"/>
					<xsd:length value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="NumberType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="20"/>
					<xsd:pattern value="\d*"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:complexType name="AddressType">
				<xsd:sequence>
					<xsd:element name="Street">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="HouseNumber">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PostalCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="[0-9]{4}"/>
								<xsd:length value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="City">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="InvoiceType">
				<xsd:sequence>
					<xsd:element name="SequentialNumber" type="tns:NumberType"/>
					<xsd:element name="TaxRate" type="tns:TaxRateType"/>
					<xsd:element name="TaxAmount" type="tns:AmountType"/>
					<xsd:element name="TotalAmount" type="tns:AmountType"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<!-- Iznos je String zbog stornjiranja -->
			<xsd:simpleType name="AmountType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="([+-]?)[0-9]{1,15}\.[0-9]{2}"/>
					<xsd:whiteSpace value="replace"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="TaxRateType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="([+-]?)[0-9]{1,3}\.[0-9]{2}"/>
					<xsd:whiteSpace value="replace"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="GUIDType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>


	<wsdl:message name="FiscalizationRequest">
		<wsdl:part element="tns:Registration" name="parameters" />
	</wsdl:message>
	<wsdl:message name="FiscalizationResponse">
		<wsdl:part element="tns:RegistrationResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="InvoiceVerificationRequest">
		<wsdl:part element="tns:InvoiceVerificationRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="InvoiceVerificationResponse">
		<wsdl:part element="tns:InvoiceVerificationResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="DataRequest">
		<wsdl:part element="tns:DataRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DataResponse">
		<wsdl:part element="tns:DataResponse" name="parameters" />
	</wsdl:message>


	<wsdl:portType name="FiscalizationService">
		<wsdl:operation name="Registration">
			<wsdl:input message="tns:FiscalizationRequest" />
			<wsdl:output message="tns:FiscalizationResponse" />
		</wsdl:operation>
		<wsdl:operation name="Verification">
			<wsdl:input message="tns:InvoiceVerificationRequest" />
			<wsdl:output message="tns:InvoiceVerificationResponse" />
		</wsdl:operation>
		<wsdl:operation name="ObtainInvoices">
			<wsdl:input message="tns:DataRequest" />
			<wsdl:output message="tns:DataResponse" />
		</wsdl:operation>
	</wsdl:portType>


	<wsdl:binding name="FiscalizationServiceSOAP" type="tns:FiscalizationService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Registration">
			<soap:operation soapAction="http://si.feri.soa/Fiscalization/Registration" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="Verification">
			<soap:operation soapAction="http://si.feri.soa/Fiscalization/Verification" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="ObtainInvoices">
			<soap:operation soapAction="http://si.feri.soa/Fiscalization/ObtainInvoices" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>


	<wsdl:service name="FiscalizationService">
		<wsdl:port binding="tns:FiscalizationServiceSOAP" name="FiscalizationRegistrationSOAP">
			<soap:address location="http://si.feri.soa/Fiscalization" />
		</wsdl:port>
		
		<wsdl:port binding="tns:FiscalizationServiceSOAP" name="FiscalizationVerificationSOAP">
			<soap:address location="http://si.feri.soa/Verification" />
		</wsdl:port>
		
		<wsdl:port binding="tns:FiscalizationServiceSOAP" name="FiscalizationObtainInvoicesSOAP">
			<soap:address location="http://si.feri.soa/ObtainInvoices" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
